html {
    box-sizing: border-box;
    font-size: 62.5%
}

body {
    color: #fffff8;
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
	background-color: #3f51b5;
}

h1 {
	font-family: 'Unica One', cursive;
    letter-spacing: -.1rem;
    margin-bottom: 2.0rem;
    margin-top: 0;
	font-size: 5rem;
    line-height: 1.25;
}

.profiles {
	display: flex;
	flex-direction: row;
}

.profiles a {
	margin-right: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 80.0rem;
    padding: 7.0rem 4.0rem 0 4.0rem;
	position: relative;
    width: 100%;
	display: flex;
    flex-direction: row;
	align-items: center
}

.description {
	text-align: right;
}

.column-half {
	flex: 0 0 50%;
    max-width: 50%
}

.column-offset-10 {
    margin-left: 10%
}

img {
    max-width: 400px;
	width: 100%;
	height: auto;
	border-radius: 200px;
	background: url(bea-1.jpg) no-repeat;
	margin-left: 50%;
}

a {
    color: #FFE641;
    text-decoration: none;
	font-weight: 600;
	white-space: nowrap;
}

a:focus,
a:hover {
    color: #FF4141
}

i {
	margin-right: 0.5rem ;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	width: 100%
}

li+li {
	margin-left: 3.0rem
}

.works {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%
}

.hashtag {
    color: #FFE641;
    text-decoration: none;
	font-size: 1.2rem;
	font-weight: 700;
	height: 3.8rem;
	letter-spacing: .1rem;
	line-height: 3.8rem;
	text-align: right;
	text-transform: uppercase;
	white-space: nowrap;
    display: block;
}

.hastag i {
    margin-right: 3px;
}

.explanation {
    font-size: 1.2rem;
	font-weight: 700;
	height: 3.8rem;
	letter-spacing: .1rem;
	line-height: 2rem;
	text-align: right;
	white-space: wrap;
	display: block;
	margin-top: -0.5rem;
}

@media all and (max-width:1000px) {
	h1 {
		transform: rotate(-90deg);
	}

}
